* {
  box-sizing: border-box;
}


body {
  background: #000000;
  background: -moz-radial-gradient(center, #000000 0%, #885FB6 0%, #000000 100%);
  background: -webkit-radial-gradient(center, #000000 0%, #885FB6 0%, #000000 100%);
  background: radial-gradient(ellipse at center, #000000 0%, #885FB6 0%, #000000 100%);
  background-attachment: fixed;
  color: white;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100vw;
  height: 100vh;
}


.title {
  font-size: 2rem;
}


h1 span {
  opacity: 0;
  transition: all 1.2s ease;
  color: #885FB6;
}

.fade {
  opacity: 1;
  color: white;
}


.start-game {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}


.score, .super-count {
  font-size: 1.4rem;
  margin-bottom: 10px;
  display: inline;
  padding: 10px;
  margin: 30px;
}


.board {
  width: fit-content;
  height: fit-content;
  margin: auto;
  background: url(background-space.png);
  opacity: 90%;
  animation: scroll-background 5s   linear infinite;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 6px ;
}



@keyframes scroll-background {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 256px;
  }
}


.cell {
  width: 38px;
  height: 38px;
  text-align: center;
  font-size: 1.2rem;
}


.restart-div {
  margin: auto;
}

.game-over, .win {
  font-size: 4rem;
  color:#885FB6;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  color: #000000;
  background: #EBEBEB;
  border-radius: 6px; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.6rem;
  width: 180px;
  height: 60px;
  cursor: pointer;
  border: 1px solid #885FB6;
  transition: 1s ease-in-out;
}


.hide {
  display: none;
}